body {
  background-color: #e1ddd9;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  padding:20px;
  margin:0px;
  text-align: center;
}

#contenido { 	
text-align: left;
vertical-align: middle;	
margin: 0px auto;
padding: 0px;
width: 550px;
background-color: #ffffff;
border: 1px dashed #564b47;
}
		
p, h1, pre {
margin: 0px; 
padding: 5px 10px; 
}

h1 {
font-size: 11px;
text-transform:uppercase;
text-align: right;
color: #564b47;
background-color: #90897a;
}

h2 {
font-size: 16px;
text-transform:uppercase;
text-align: right;
color: #ffffff;
background-color: #90897f;
}

h3 {
font-size: 10px;
text-transform:uppercase;
text-align: left;
color: #ffffff;
background-color: #ff0000;

}

a { 
color: #ff66cc;
font-size: 11px;
background-color:transparent;
text-decoration: none; 
}
 
pre { 
color: #564b47;
font-size: 11px;
background-color:transparent;
font-family: Courier, Monaco, Monospace;
}

.redimensionar {
  border: 3px double #333;
  float: left;
  height: 15em;
  margin: .2em 1em 1em 0;
  overflow: hidden;
  width: 30em;
}

.redimensionar img {
  max-width: 30em; 
  max-height: 15em;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
}

#comentarios {
  text-align: left;
  vertical-align: middle;
  padding-bottom:5px;
  margin: 20px auto;
  width: 550px;
  height: auto;
  background-color: #ffffff;
}

#dialogo div.popup {
  border: none;
  
}

.comentarios {
  border-radius:10px;
  padding:15px;
  margin: 10px;
  background-color: #e1ddd9;
}

#cajacomentario {
  text-align: left;
  float:left;
  padding: 0px;
  height: auto;
  background-color: transparent;
}