body {
  background-color: #e1ddd9;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  margin: 20px 140px  20px 140px;
  text-align: center;
}

img.logo { 
  margin-left: 10%;
  margin-top: 15px;
  padding:0px;
  text-align: left;
  position: relative;
  float:right;
  border:0;
}

p.contenido span.etiqueta {
  font-weight:bold;
  display:block;
}

p.contenido span.res {
  display:inline-block;
  padding-bottom:10px; 
}

#contenido { 
  width: 100%;
  height: 500px; /* Ojo con esta clausula */
  padding: 0px;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  border: 1px dashed #564b47;
}

.contenido {
  padding:3px;
}

.aviso {
  margin-top:10%;
  margin-bottom: 10%;
  border: 1px dotted #564b47;
  padding: 3px;
  text-align: center;
  background-color: #FFFF00;
  width: 70%;
  margin-left: 15%;
  position:relative;
}
#busquedai {
  width:500px;
  float:left;
  overflow:auto;
}
#cajaizq {
  border:1px solid;
  border-radius:10px;
  width:46%;
  height:60%;
  float:left;
  margin-left:10px;
}

#busquedad {
  border:1px solid;
  border-radius:10px;
  width:46%;
  height:60%;
  float:right;
  margin-right:10px;
}

p, h1, pre {
  margin: 0px; 
  padding: 10px; 
}
h1 {
  margin-bottom: 10px;
  font-size: 13px;
  text-transform:uppercase;
  text-align: right;
  color: #FFF;
  background-color: #90897a;
}

h2 {
font-size: 16px;
text-transform:uppercase;
text-align: right;
color: #ffffff;
background-color: #90897f;
}

h3 {
font-size: 10px;
text-transform:uppercase;
text-align: left;
color: #ffffff;
background-color: #ff0000;
}

h4 { /* este es el de la barra de usuario, bajo el h1 de index */
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  background-color: #c8c2b7;
  padding-left:40px;
  padding-top:5px;
  padding-bottom:5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
  margin-bottom: 1px;
}

h4 a {
  text-decoration:none;
  color:#FFFFFF;
}

h4 a:hover {
  color:#FF0000;
}
/* CSS tabla resultados */

h6 {
  background-color:#00FF00;
  font-size:14px;
  padding-bottom:0px;
  padding-left:10px;
  margin-bottom:0px;
  margin-top:5px;
}

table.resultados {
  margin: 5px;
  padding: 5px;
  border: 1px dotted;
  background-color: #e1ddd9;
}

table.resultados tr:hover {
  color: #000000;
}

table.resultados a {
  text-decoration: none; 
  color: #564b47;
}

table.resultados a:hover {
  color: #000000;
}

table.resultados th {
  background-color: #e1ddd9;
}

div.paginador {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding-left: 400px;

}

div.paginador li {
  list-style-type: none;
  float: left;
  padding: 10px;
  border: 1px solid;
  background-color:#FFE4C4;
  margin-left: 10px;
}

div.paginador li a {
    text-decoration:none;
}
/* Estas clases son para la caja de busqueda en inicio.php */

div.paginadorbusca {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding-left:80px
}

div.paginadorbusca li {
  list-style-type: none;
  float: left;
  padding: 10px;
  border: 1px solid;
  background-color:#FFE4C4;
  margin-left: 10px;
}

div.paginadorbusca li a {
    text-decoration:none;
}

/* Fin CSS tabla resultados */

#footer {
  width: 100%;
  height: 50px;
  padding: 0px;
  text-align: left;
  background-color: #fff;
  border: 1px #564b47;
  margin-top:5px;
  text-decoration:none;
  border:0;
}
#footer img {
  margin-left:10px;
  float:left;
  text-decoration:none;
  border:0;
}

#footer img.der {
  margin-left:10px;
  float:right;
  text-decoration:none;
  border:0;
}

/* CSS de los formularios de la web */

div.formulario label {
  display:block;
  margin-bottom:5px;
  color:#555555;
}
div.formulario label span {
  display:inline-block;
  padding-right:6px;
  width:210px;
  text-align:right;
  font-weight:bold;
}
div.formulario input {
  border: #66FF66 1px solid; 
  font-family: Verdana; 
  font-size: 13px; 
  background-color: #e1ddd9;
  font-weight: bold;
  margin-top: 5px;
}
div.formulario input.boton {
  margin-left:218px;
  position:relative;
}
div.formulario textarea {
  border: #66FF66 1px solid; 
  font-family: Verdana; 
  font-size: 13px; 
  background-color: #e1ddd9; 
  font-weight: bold;
}
div.formulario fieldset.d {
  float: right;
  width: 45%;
  border: none;
}
div.formulario fieldset.i {
  float: left;
  width: 45%;
  border: none;
}

/* Fin CSS Formularios */

/* CSS del menu */
.menu li {
list-style-type: none;
float: left;
text-transform: uppercase;
font-size: 20px;
font-weight: bold;
line-height: 80px;
padding: 0 15px;
}
.menu ul li ul span {  /* el piquito dichoso */
background: url('flecha.png');
margin: -20px 50px;
width: 20px;
height: 10px;
position: absolute;
}
.menu li a {
text-decoration: none;
color: #222;
}
.menu li a:hover {
color: #FFF;
}
.menu {
width: 100%;
background: transparent url('bgmenu.png') repeat-x;
height: 70px;
}
.menu ul li ul {
display: none;
background: #cac99e ;
padding: 10px 0;
position: absolute;
margin: -12px -20px;
.margin: 69px -170px; /* Esto es para el internet explorer de dios, google dixit */
_margin: 69px -170px;
}
.menu ul li:hover ul {
display: block;
}
/* FIN del CSS del menu */