body {
  width:100%;
  background-color: #e1ddd9;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  text-align: center;
} 

#contenido { 
  width: 90%;
  margin:2%;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  border: 1px dashed #564b47;
  padding-bottom:20px;
}

p, h1, pre {
  margin: 0px; 
  padding: 10px; 
}
h1 {
  margin-bottom: 10px;
  font-size: 13px;
  text-transform:uppercase;
  text-align: right;
  color: #FFF;
  background-color: #90897a;
}

h2 {
font-size: 16px;
text-transform:uppercase;
text-align: right;
color: #ffffff;
background-color: #90897f;
}

h3 {
font-size: 10px;
text-transform:uppercase;
text-align: left;
color: #ffffff;
background-color: #ff0000;
}

#footer {
  width: 90%;
  margin:2%;
  height: auto;
  padding: 0px;
  text-align: left;
  background-color: #fff;
  border: 1px #564b47;
}
#footer img {
  margin-left:10px;
}

#footer img.der {
  margin-left:10px;
}

div.formulario label {
  display:block;
  color:#555555;
}
div.formulario label span {
  display:inline-block;
  padding-right:1px;
  width:100px;
  text-align:right;
  font-weight:bold;
}
div.formulario input {
  border: #66FF66 1px solid; 
  font-family: Verdana; 
  font-size: 11px; 
  background-color: #e1ddd9; 
  font-weight: bold;
}
div.formulario input.boton {
  margin-left:100px;
  position:relative;
}
div.formulario textarea {
  border: #66FF66 1px solid; 
  font-family: Verdana; 
  font-size: 11px; 
  background-color: #e1ddd9; 
  font-weight: bold;
}
div.formulario fieldset.d {
  float: right;
  width: 45%;
  border: none;
}
div.formulario fieldset.i {
  float: left;
  width: 45%;
  border: none;
}

div.paginador {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

div.paginador li {
  list-style-type: none;
  float: left;
  padding: 10px;
  border: 1px solid;
  background-color:#FFE4C4;
  margin-left: 10px;
}

div.paginador li a {
    text-decoration:none;
}

.menu li {
list-style-type: none;
text-transform: uppercase;
font-weight: bold;
}

.menu li a {
text-decoration: none;
color: #222;
}

