body {
  background-color: #FF0000;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  margin: 20px 140px  20px 140px;
  text-align: center;
}

#contenido { 
  width: 100%;
  height: 400px; /* Ojo con esta clausula */
  padding: 0px;
  text-align: left;
  background-color: #fff;	
  overflow: auto;
  border: 1px dashed #564b47;
}

.aviso {
  border: 1px dotted #564b47;
  padding: 3px;
  text-align: center;
  background-color: #FFFF00;
  width: 70%;
  margin-left: 15%;
}

.contenido {
  padding:3px;
}

h1 {
  font-size: 13px;
  text-transform:uppercase;
  text-align: right;
  color: #564b47;
  background-color: #90897a;
}

#footer {
  width: 100%;
  padding: 0px;
  text-align: left;
  background-color: #fff;	
  border: 1px #564b47;
}


div.formulario label {
  display:block;
  margin-bottom:5px;
  color:#555555;
}

div.formulario label span {
  display:inline-block;
  padding-right:6px;
  width:210px;
  text-align:right;
  font-weight:bold;
}

div.formulario input {
  border: #66FF66 1px solid; 
  font-family: Verdana; 
  font-size: 13px; 
  background-color: #e1ddd9; 
  font-weight: bold;
}

div.formulario textarea {
  border: #66FF66 1px solid; 
  font-family: Verdana; 
  font-size: 13px; 
  background-color: #e1ddd9; 
  font-weight: bold;
}

div.formulario fieldset.d {
  float: right;
  width: 45%;
  border: none;
}
div.formulario fieldset.i {
  float: left;
  width: 45%;
  border: none;
}

/* CSS del menu */
.menu li {
list-style-type: none;
float: left;
text-transform: uppercase;
font-size: 20px;
font-weight: bold;
line-height: 80px;
padding: 0 30px; 
}

.menu ul li ul span {  /* como esta me funcione... */
background: url('flecha.png');
margin: -20px 50px;
width: 20px;
height: 10px;
position: absolute;
}

.menu li a {
text-decoration: none;
color: #222;
}
 
.menu li a:hover {
color: #FFF;
}

.menu {
width: 100%;
background: transparent url('bgmenu.png') repeat-x;
height: 70px;
}

.menu ul li ul {
display: none;
background: #cac99e ;
padding: 10px 0;
position: absolute;
margin: -12px -20px;
.margin: 69px -170px; /* Esto es para el internet explorer de dios */
_margin: 69px -170px;
}
 
.menu ul li:hover ul {
display: block;
}
/* FIN del CSS del menu */